.sudoku-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .sudoku-row {
    display: flex;
  }
  
  .sudoku-game {
    width: 300px; /* 调整数独游戏的宽度 */
    height: 300px; /* 调整数独游戏的高度 */
    border: 2px solid #000;
    margin: 10px;
  }

  .sudoku-cell {
    width: 33.33%; /* 调整数独方格内单元格的宽度 */
    height: 33.33%; /* 调整数独方格内单元格的高度 */
    border: 1px solid #000;
    box-sizing: border-box;
    float: left;
  }

  .sudoku-cell-m {
    width: 33.33%; /* 调整数独方格内单元格的宽度 */
    height: 33.33%; /* 调整数独方格内单元格的高度 */
    border: 1px solid #000;
    box-sizing: border-box;
    float: left;
  }
